//
//  config.xcconfig
//  ReSpeak
//
//  Created by Noah Hova on 3/5/26.
//

SUPABASE_URL = https://aeclcbbufzlgqweoxjlr.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlY2xjYmJ1ZnpsZ3F3ZW94amxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MjIzNTAsImV4cCI6MjA4ODA5ODM1MH0.5I4xkyZt0O0V9PaK0fejym2S_YZHCUObC3HunhXoPSk
